{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Zuhura Abdul Sakaya - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Zuhura Sakaya."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/zuh2.PNG' %}" alt="Zuhura Sakaya" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Zuhura Sakaya</h1>
			<h2 class="quickFade delayThree">Auditor</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>zuhurasakaya@gmail.com</a></li>
				<li>P.O.Box 1 </li>
				<li><a href=""></a></li>
				<li>Kinondoni, Dar es salaam</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Zuhura Sakaya is an agent for change , She is the member of Youth for Change -Tanzania, part of the global network of youth activists working in partnership with organisations and governments to tackle gender-based violence and create positive change for girls, boys, young women and young men. Youth For Change launched in 2014 and currently has teams based in Bangladesh, Ethiopia, UK and Tanzania. .  </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Associate Auditor - Deloitte,Tanzania</h2>
					<p class="subDetails">2018 - Present</p>
					<p>“Deloitte” is the brand under which tens of thousands of dedicated professionals in independent firms throughout the world collaborate to provide audit, consulting, financial advisory, risk management, tax, and related services to select clients. These firms are members of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”)</p>
				</article>

				<article>
					<h2>Accountant at Youth for Change-Tanzania</h2>
					<p class="subDetails">April 2015 - Present</p>
					<p>Youth For Change is a global network of youth activists working in partnership with organisations and governments to tackle gender-based violence and create positive change for girls, boys, young women and young men. Youth For Change launched in 2014 and currently has teams based in Bangladesh, Ethiopia, UK and Tanzania.</p>
				</article>
				<br/>
				<br/>
				<article>
					<h2>Member of KITE-Dar es salaam</h2>
					<p class="subDetails">2018</p>
					<p>Kite International is a youth-led global organisation, dedicated to the advancement of global citizenship by helping university students create meaningful initiatives for the development of disadvantaged communities around the world. Kite Dar es Salaam is the Tanzanian chapter of this organisation.

Kite originated from a partnership between students at the University of Cambridge and University of Dar Es Salaam, who worked together on innovative projects in local communities in Tanzania. Alumni of this organisation decided to find a way to scale the success of this model, and so Kite International was born.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Published Articles/social media posts </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Research 2019</h2>
					<p class="subDetails"><a href="https://www.instagram.com/zuhura_abdul_sakaya/" target="new">"CREATE OPPORTUNITIES"</a></p>
					<p>Youth Think Tank Researcher ! </p>
					
				</article>
				<br/>
				<article>
					<h2>GBV</h2>
					<p class="subDetails"><a href="https://www.instagram.com/zuhura_abdul_sakaya/" target="new">"BREAK SILENCE"</a></p>
					<p>Day on Elimination of Violence against women. I would like to urge the community to stop normalizing violence against women and especially sexual abuse like rape. Stand up ! </p>
					
				</article>
				<br/>
				<article>
					<h2>Youth Advocate</h2>
					<p class="subDetails"><a href="https://www.instagram.com/zuhura_abdul_sakaya/" target="new">"CREATE OPPORTUNITIES"</a></p>
					<p>Youth Think Tank Researcher ! </p>
					
				</article>
				<br/>
				<article>
					<h2>Stop Gender based Violence</h2>
					<p class="subDetails"><a href="https://www.instagram.com/zuhura_abdul_sakaya/" target="new">"Challenge"</a></p>
					<p>Growing up can be challenging, but it’s all worth it in the end! ! </p>
					
				</article>
				<br/>
				<article>
					<h2>Be the Change</h2>
					<p class="subDetails"><a href="https://www.instagram.com/zuhura_abdul_sakaya/" target="new">"CREATE OPPORTUNITIES"</a></p>
					<p>Youth Think Tank Researcher ! </p>
					
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Research</li>
					<li>Auditing</li>
					<li>Accounting</li>
					<li>Leadership</li>
					<li>Youth Advocating</li>
					<li></li>
					<li>Marketing</li>
					<li>Business Analysis</li>
					<li>Content Writing</li>
						<li>Statistics</li>
							<li>Advanced Excell</li>
								<li></li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Dar es salaam</h2>
					<p class="subDetails">B.Com.Accounting</p>
						<p>Graduated with honours</p>
						<h2>Feza Girls School</h2>
					<p class="subDetails">HGL</p>
						<p>Best Student</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>